body 
{
    background-image:url(../images/bg-default.jpg);
}

.container
{
   
}
.container-information
{
    background:#fff;
    min-height:100vh;
}
.btn-lg
{
    width:150px;
    margin-top:50px;
}
.container-poke
{
    border:1px solid #ddd;
    margin-top:10px;
    margin-bottom:10px;
    border-radius:6px;
}
.container-poke:hover
{
    box-shadow: inset 0 0 0 2px #ddd;	
}
.profile div
{
    margin-bottom:30px;
}
.best-pokes h4
{
    padding-top:30px;
}
.title-page
{
    margin-top:50px!important;
    margin-bottom:30px!important;
}
.h3
{
    color:#313131!important;

}
a:hover
{
    text-decoration:none;
}
.navbar-brand img
{
    max-height:46px;
}
.navbar-brand 
{
    padding:2px 15px;
}


.loader {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
	background: url('https://6ed03b3e7ee716b29bc2dee79aafb8179ed53b19-www.googledrive.com/host/0B9VLbslO6g64UnFTUlQzWDVMdXM') 50% 50% no-repeat rgb(249,249,249);
}
.loader-container {
	width: 600px;
	height: 200px;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	
	margin: auto;
	text-align: center;
}

.preload{
    position: fixed;
    z-index:99999;
    top:0; left:0;
    width:100%; height:100%;
    opacity:1;
    background-color:#fff;
    background-image:url('https://38.media.tumblr.com/bec5933eea5043acf6a37bb1394384ab/tumblr_meyfxzwXUc1rgpyeqo1_400.gif');
    background-size:298px 298px;
    background-position:center;
    background-repeat:no-repeat;
}
