body 
{
    background-image:url(../images/bg-default.jpg);
}

.container
{
    background:#fff;
    min-height:100vh;
}
.btn-lg
{
    width:150px;
    margin-top:50px;
}
.container-poke
{
    border:1px solid #ddd;
    margin-top:10px;
    margin-bottom:10px;
    border-radius:6px;
}
.container-poke:hover
{
    box-shadow: inset 0 0 0 2px #ddd;	
}
.profile div
{
    margin-bottom:30px;
}
.best-pokes h4
{
    padding-top:30px;
}
